@import "tailwindcss";


/* Light Mode */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Dark Mode (controlled by .dark class) */
.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  transition: background 0.4s ease, color 0.4s ease;
  font-family: Arial, Helvetica, sans-serif;
}